@import url('../../../app/styles/variables.css');

.subcategory {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
  max-width: 100%;
  min-height: 32px;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 20px;
}

.subcategory p {
  margin: 0;
  line-height: 1.2;
  text-transform: lowercase;
  word-break: break-word; /* stylelint-disable-line declaration-property-value-keyword-no-deprecated */
}

.subcategory p::first-letter {
  text-transform: uppercase;
}

.subcategoryIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
}

.subcategoryIcon svg {
  display: block;
  width: 24px;
  height: 24px;
}

.tagBusiness {
  background-color: var(--color-tag-business);
}

.tagCreative {
  background-color: var(--color-tag-creative);
}

.tagLanguages {
  background-color: var(--color-tag-languages);
}

.tagEducation {
  background-color: var(--color-tag-education);
}

.tagHome {
  background-color: var(--color-tag-home);
}

.tagHealth {
  background-color: var(--color-tag-health);
}

.tagOther {
  background-color: var(--color-tag-other);
}
